<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Python311\python.exe"
                  arguments="run.py"
                  startupTimeLimit="60"
                  startupRetryCount="3"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python.log"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="APPLICATION_ROOT" value="/sigus" />
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="logs" />
          <add segment=".env" />
          <add segment="__pycache__" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
